@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

header {
  background-color: hsl(0, 0%, 21%);
  padding: 16px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  height: 50px;
}

.logo {
  width: 50px;
  height: auto;
  transition: opacity 200ms;
}

.logo:hover {
  opacity: 0.85;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 32px;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: hsl(0, 0%, 90%);
  transition: color 200ms;
}

.navbar a:hover {
  color: hsl(197, 100%, 80%);
}

.intro {
  background-color: hsl(187, 100%, 95%);
  box-sizing: border-box;
  height: 600px;
  padding: 128px 0;
  gap: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  margin-top: 0;
}

.hero-gradient {
  background-image: linear-gradient(135deg, hsl(200, 100%, 56%) 0%, hsl(200, 100%, 56%) 10%, hsl(123, 100%, 60%) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.cool-button {
  background-color: hsl(200, 100%, 56%);
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  transition: background-color 150ms;
}

.cool-button:hover {
  background-color: hsl(200, 91%, 43%);
}

.cool-button:active {
  background-color: hsl(200, 100%, 30%);
}

.intro-image {
  width: 500px;
  height: auto;
  box-shadow: 0 0 30px 5px hsl(197, 100%, 74%);
}
